.cell-output pre {
    background: rgb(245, 245, 245);
    border: 1px solid #d7cda9;
    border-radius: 10px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.sourceCode.cell-code {
    background: rgb(245, 245, 245);
    border: 1px solid #d7cda9;
    border-radius: 10px;
}

.sourceCode.cell-code pre {
    background: #fdf6e3;
    border-left: 1px solid #847b5d;
}